body {
  font-family: "Noto Sans SC";
}

.ch .intro-section .txt-wrap .txt-grp01 {
  margin-bottom: 130px;
}

.ch .intro-section .txt-wrap .ttl01 {
  font-weight: 500;
}

.ch .intro-section .txt-wrap .txt01 {
  margin-bottom: 15px;
  font-weight: 400;
}

.ch .intro-section .txt-wrap .txt02 {
  font-weight: 400;
}

.ch .doctor-section .inner {
  max-width: 1000px;
}

.ch .doctor-section .img-wrap {
  max-width: 918px;
}
.ch .doctor-section .txt-top-grp .ttl {
  font-weight: 400;
}

.ch .doctor-section .txt-top-grp .txt {
  font-style: normal;
  /* font-size: 32px; */
  font-weight: 400;
}

.ch .doctor-section .txt-top-grp .txt02 {
  letter-spacing: -0.8px;
}

.ch .doctor-section .txt-bottom-grp {
  max-width: 740px;
}

.ch .doctor-section .txt-bottom-grp .ttl {
  font-weight: 600;
}

.ch .doctor-section .txt-bottom-grp .txt {
  font-weight: 400;
}

.ch .treatment-section .inner {
  padding: 0 23px;
}
.ch .treatment-section .inner > .txt-grp .ttl {
  font-weight: 500;
}

.ch .treatment-section .img-card-grp.type-03::after {
  content: "";
  flex: 1 1 25%;
  max-width: 378px;
  visibility: hidden;
}

.ch .treatment-section .img-card-grp .txt-grp {
  padding-top: 4px;
  background-size: 6px 78px;
}

.ch .treatment-section .img-card-grp .top .bg {
  font-family: "M PLUS 1p";
}

.ch .treatment-section .img-card-grp .top .txt {
  font-size: 14px;
}

.ch .treatment-section .img-card-grp .bottom .txt {
  font-size: 15px;
}

.ch .treatment-section .bottom-txt-grp .txt {
  font-weight: 400;
}

.ch .hospital-section .txt {
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.ch .different-section .ttl {
  font-weight: 400;
}

.ch .contact-section .ttl {
  font-weight: 400;
}

.ch .contact-section .tt {
  font-weight: 400;
}

.ch .contact-section .txt {
  font-weight: 400;
}

@media (max-width: 900px) {
  .ch .treatment-section .img-card-grp.type-03::after {
    display: none;
  }

  .ch .doctor-section {
    padding-bottom: 60px;
  }

  .ch .doctor-section .txt-top-grp {
    width: auto;
    max-width: 330px;
  }

  .ch .doctor-section .txt-top-grp .txt {
    font-size: 19px;
    letter-spacing: 0;
    line-height: 28px;
  }

  .ch .doctor-section .txt-bottom-grp {
    max-width: 330px;
  }

  .ch .doctor-section .txt-bottom-grp .ttl {
    font-family: "Cormorant Garamond";
    font-size: 28px;
  }

  .ch .doctor-section .txt-bottom-grp .txt {
    font-size: 18px;
  }

  .ch .treatment-section {
    padding-top: 135px;
  }

  .ch .treatment-section .inner > .txt-grp .ttl {
    font-weight: 400;
  }

  .ch .treatment-section .inner > .txt-grp .txt {
    margin-top: 16px;
  }

  .ch .treatment-section .img-card-grp .top .ttl {
    font-weight: 400;
  }

  .ch .treatment-section .img-card-grp .top .txt {
    font-weight: 400;
  }

  .ch .treatment-section .img-card-grp .bottom .txt {
    font-weight: 400;
    line-height: 20px;
  }

  .ch .treatment-section .img-card {
    padding: 10px;
  }

  .ch .treatment-section .img-card-grp .top .bg {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
  }

  .ch .hospital-section .inner {
    padding: 0 20px;
  }

  .ch .hospital-section .txt {
    margin-bottom: 0;
    line-height: 24px;
  }

  .ch .different-section .ttl {
    font-size: 38px;
    font-weight: 400;
  }

  .ch .different-section .txt {
    margin-top: 5px;
    letter-spacing: 1.5px;
  }

  .ch .contact-section {
    padding: 150px 0 120px;
  }

  .ch .contact-section .ttl {
    font-size: 38px;
    font-weight: 400;
  }

  .ch .contact-section .tt {
    font-size: 20px;
  }

  .ch .contact-section .txt {
    letter-spacing: 0;
    line-height: 26px;
  }

  .ch .contact-section .contact-wrap {
    gap: 125px;
  }
}
